    /*Main and miscellaneous items*/
body {
    font-family: 'Vollkorn', serif;
    background-color: #1a1b1d;
}

@media(max-width: 992px) {
    .navbar {
        width: 100%;
        background: black !important;
    }
}

.navbar {
    background: black;
    opacity: 0.95;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.image {
    max-width: 100%;
    height: auto;
}

    /*Personal color style #00ffc4*/

.link-logo, .link-logo:hover {
    text-decoration: none;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #00ffc4;
}

.btn-outline-color2 {
    color: #000000;

}
.btn-outline-color2 {
    color: #000000;
    background: transparent none;
    border-color: #000000;
}

.btn-outline-color2:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-outline-color2:focus {
    box-shadow:0 0 0 .2rem rgba(0, 0, 0, 0.5);
}

.btn-outline-success.color2 {
    box-shadow:0 0 0 .2rem rgba(0, 0, 0, 0.5);
}

.btn-outline-color {
    color: #00ffc4;

}
.btn-outline-color {
    color: #00ffc4;
    background: transparent none;
    border-color: #00ffc4;
}

.btn-outline-color:hover {
    color: #141517;
    background-color: #00ffc4;
    border-color: #00ffc4;
}

.btn-outline-color:focus {
    box-shadow:0 0 0 .2rem rgba(0, 255, 196, 0.5);
}

.btn-outline-success.color {
    box-shadow:0 0 0 .2rem rgba(0, 255, 196, 0.5);
}

.text-color, .text-color:hover {
    color: #00ffc4;
    text-decoration: none;
}

.header {
    background-color: #141517;
    text-decoration: none;
}

.menu {
    color: #00ffc4;
}

.actions {
    margin-top: 20px;
}

.input-group-btn {
    margin: 0 10px;
}

    /*Footer*/

footer {
    color: white;
}

.footer-bottom{
    background: black;
    color: white;
    padding: 2em;
}

.footer-middle{
    background: #e9ecef;
    padding-top: 2em;
    color: black;
}

.footer-pad {
    border-right: 10px;
    border-color: black;
}